.CustomTable {
    width: 100%;
    table-layout: fixed;
}

tbody tr td:first-child,
thead tr th:first-child {
    text-align: left;
}

.CustomTable th, .CustomTable td {
    font-size: 16px;
    text-align: center;
    padding: 12px 0;
}

.CustomTable th {
    color: var(--primary-color);
}

.CustomTable tr {
    border-bottom: 1px solid var(--dark-grey-color);
}

.CustomTable tr:last-child {
    border-bottom: none;
}

.CustomTable__col_hide-mobile {
    display: none;
}

.CustomTable__row_clickable:hover {
    cursor: pointer;
    color: var(--primary-color-accent);
}

@media screen and (min-width: 768px) {
    .CustomTable__col_hide-mobile {
        display: table-cell;
    }   
}

.SortingRow {
    display: flex;
    align-items: center;
    gap: 12px;
}

.SortingRow__option {
    padding: 6px 8px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}

.SortingRow__option:hover, .SortingRow__option_active, .SortingRow__option:focus {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--dark-grey-color);
}

.CustomTable__TableSubstitute_centered {
    align-self: center;
}

button.CustomTable__LoadMore {
    width: 140px;
    align-self: center;
}