.CustomTextInput__label {
    display: block;
    padding-bottom: 4px;
    color: var(--secondary-color);
}


.CustomTextInput__input {
    display: block;
    width: 100%;
    border-radius: var(--field-border-radius);
    padding: 4px;
    border: 1px solid var(--dark-grey-color);
    color: var(--secondary-color);
}

.CustomTextInput_lSize .CustomTextInput__label {
    color: var(--light-grey-color);
    font-size: 22px;
}

.CustomTextInput_lSize .CustomTextInput__input {
    font-size: 32px;
}

.CustomTextInput__input_noBorder {
    border-color: transparent;
    padding-left: 0;
}

.CustomTextInput__input::placeholder {
    opacity: 0.3;
}

.CustomTextInput__input:focus {
    border: 1px solid var(--primary-color-accent);
}

.CustomTextInput__input_error,
.CustomTextInput__input_error:focus {
    border: 1px solid var(--danger-color);
}

.CustomTextInput__error {
    display: block;
    padding-top: 2px;
    font-size: 10px;
    color: var(--danger-color);
    min-height: 14px;
}