.AppHeader {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    border-bottom: 1px solid var(--dark-grey-color);
    position: fixed;
    left: 0;
    right: 0;
    background-color: #2a2a2ad3;
}

.AppHeader__title {
    font-size: 26px;
}

.AppHeader__username {
    font-size: 16px;
    color: var(--primary-color)
}


.AppHeader__login {
    font-size: 16px;
    color: var(--secondary-color);
}

.AppHeader__login:hover {
    color: var(--primary-color-accent)
}