.CustomTextInput__label {
    display: block;
    padding-bottom: 4px;
}


.CustomTextInput__input {
    display: block;
    width: 100%;
    border-radius: var(--field-border-radius);
    padding: 4px;
    border: 1px solid var(--dark-grey-color);
}

.CustomTextInput__input::placeholder {
    color: var(--grey-color)
}

.CustomTextInput__input:focus {
    border: 1px solid var(--primary-color-accent);
}

.CustomTextInput__input_error,
.CustomTextInput__input_error:focus {
    border: 1px solid var(--danger-color);
}

.CustomTextInput__error {
    display: block;
    padding-top: 2px;
    font-size: 10px;
    color: var(--danger-color);
    min-height: 14px;
}