:root {
  --light-grey-color: rgb(253, 253, 253);
  --grey-color: #bfbfbf;
  --dark-grey-color: #1f1f1f;
  --primary-color: #07e000;
  --primary-color-accent: #09ff00;
  --secondary-color: #ffffff;
  --tertiary-color: #2a2a2a;
  --danger-color: #FF0000;

  --field-border-radius: 4px;
}

* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tertiary-color);
}