.MainPage {
    padding-top: var(--header-height);
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px;
}

.MainPage__title {
    font-size: 36px;
}

.MainPage__title_accent {
    font-size: 38px;
    color: white;
    text-shadow: var(--primary-color) 1px 1px 4px;
}

.MainPage__CardGroup {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media screen and (min-width: 768px) {
    .MainPage__CardGroup {
        flex-direction: row;
        gap: 12px;
    }

    .MainPage__title {
        font-size: 44px;
    }

    .MainPage__title_accent {
        font-size: 52px;
    }
}